/Digitador.class
/PosGuitarra.class
/Dedo.class
/Digitador$Dedo.class
/Digitador$PosGuitarra.class
/NotaEnOctavaInalcanzableException.class
/NotaDesconocidaException.class
/Digitador$Configuracion.class
/Digitador$PosiblesConfiguraciones.class
/AcordeLongitudImposibleException.class
/Digitador$ConfiguracionDedo.class
/Digitador$PosiblesConfiguracionesDedos.class
/Digitador$PosiblesConfiguracionesMano.class
/Digitador$ConfiguracionMano.class
/Digitador$ConfiguracionManos.class
